p{
    padding: 2%;
}

.container-fluid{
    padding: 1%;
    text-align: center;
    align-items: center;
}

.repo{
    padding: 2%;
    background-color: #6E3A40;
    border: 2px solid grey;
    color: white;
    margin: 4%;
    border-radius: 20px;
}

h2{
 color: white;
 padding: 2%;
 border-radius: 10px;
}

.repo-name{
    color:white;
    width: 100%;
    text-align: center;
    font-weight: bold;
    background-color: #A54131;
}
hr{
    border: 3px solid white;
    width: 60%;
}

form{
    display: flex;
    text-align: right;
    justify-content: right;
}